@charset "utf-8";

/*---RESET------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border: none;
}

ul:after,
.clear:after {
    content: "";
    display: block;
    clear: both;
}

/*---공통------------------------------------ */
body {
    font-family: 'Nanum Gothic', sans-serif;
    background: #242424;
}

/*---header------------------------------------ */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #333;
}

header .logo {
    float: left;
    margin: 0;
    width: 300px;
    height: 100%;
    padding: 0;
    padding: 10px 0 0 10px;

}

header .logo img {
    height: 60px;
}

header .logo .kor {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    display: block;
    float: right;
    margin-top: 0px;
}

header .logo .eng {
    font-size: 12px;
    font-weight: 100;
    float: right;
    width: 174px;
    display: block;
    text-align: left;
    margin-top: -38px;

}

.menu-bar {
    float: right;
    display: block;
    margin: 24px 24px 0 0;
}

.menu-bar img {
    height: 40px;
}

#gnb {
    float: right;
    width: 100%;
}
#gnb .depth01 {
    display: none;
}
#gnb > ul > li {
    text-align: center;
    background-color: rgba(149, 110, 41, 0.85);
    position: relative;
    /* outline: 3px solid red; */
}

#gnb > ul > li > a {
    color: #eee;
    font-weight: bold;
    line-height: 60px;
}

#gnb > ul > li:hover > a {
    text-decoration: underline;
}

#gnb > ul.depth01 > li > ul.depth02 {
    width: 100%;
    line-height: 40px;
    background: rgba(113, 81, 36, 0.5);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    display: none;
}

.depth02 > li > a {
    background: rgba(149, 110, 41, 0.8);
    display: block;
    color: #eee;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.depth03 {
    background-color: rgba(255,255,255);
}
.depth03 li a {
    color: #333;
    font-size: 14px;
}

.depth03 li a:hover {
    font-weight: bold;

}

/*---main------------------------------------ */
main {
    width: 100%;
    padding-top: 80px;
    overflow: hidden;
    position: relative;
}

.slideList {
    width: 400%;
    height: 100%;
    position: relative;
}

.slideList .slideImg {
    float: left;
    width: 25%;
    position: relative;
}

.slideLIst:after {
    content: "";
    display: block;
    clear: both;
}
.slideImg img {
    width: 100%;
    height: 100%;
}

/* 화살표 */
.abtn {
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 40px;
}

.btnL {
    left: 5px;
}

.btnR {
    right: 5px;
}

/*---section------------------------------------ */
section {
    width: 100%;
}

/*--------------------------------------------------------------*/
article.info-hrs {
    height: 100px;
    overflow: hidden;
}

.info-hrs .info-hrs-box {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.info-hrs .info-hrs-box h2 {
    font-size: 18px;
    margin-right: 60px;
    float: left;
    /* outline: 3px solid lime; */
}

.info-hrs .info-hrs-box p {
    color: #fff;
    float: left;
    border-left: 2px solid #fff;
    padding-left: 30px;
    /* outline: 3px solid lime; */
}

/*--------------------------------------------------------------*/
article.info-show {
    width: 100%;
    height: 450px;
    padding-top: 60px;
    background-color: #956e29;
    position: relative;
    overflow: hidden;
}

.info-show h2 {
    text-align: center;
    font-size: 24px;
}

.info-show .m-prev {
    display: block;
    position: absolute;
    left: 25%;
    top: 80px;
}

.info-show .m-next {
    display: block;
    position: absolute;
    top: 80px;
    right: 25%;
}

.info-show-box {
    width: 100%;
    margin-top: 60px;
    height: 100%;

}

.show-wrap {
    float: left;
    margin-right: 1%;
    width: 32.3%;
    height: 260px;
    position: relative;
}
.show-wrap:last-child {
    margin-right: 0;
}
.show-wrap .imgbox {
    width: 100%;
    height: 260px;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    /* outline: 3px solid red; */
}

.show-wrap .imgbox img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 1px 2px 4px #393939;
    position: absolute;
    cursor: pointer;
}
.show-wrap span {
    width: 50px;
    height: 50px;
    background: #000;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    top: -12px;
    left: -10px;
    z-index: 2;
}

.show-wrap span.down {
    top: 38px;
    left: 0;
}
.show-wrap .imgbox:hover .up {
    position: absolute;
    top: 55%;
}

.i1 {
    left: 0;
    top: 15%;
    transform: scale(0.9);
}

.i2 {
    left: 0;
    top: 0;
    transform: scale(1);
}

.i3 {
    left: 0;
    top: 15%;
    transform: scale(0.9);
}

.show-wrap .imgbox a {
    display: none;
}

.show-wrap .imgbox:hover a {
    display: block;
    width: 117px;
    background: #eee;
    color: #333;
    border-radius: 30px;
    padding: 10px 22px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.show-rap:nth-child(1) .imgbox:hover a {
    position: absolute;
    top: 95%;
}

.show-wrap .imgbox:hover img {
    opacity: 0.6;
}

.show-wrap .imgbox img {
    transition: all 1s;
}

.show-wrap .imgbox a:hover {
    background: #333;
    color: #fff;
    font-weight: bold;
}

/*--------------------------------------------------------------*/
article.info-cal {
    width: 100%;
    padding-top: 60px;
    background: #fff;
    padding-bottom: 60px;
}

.info-cal h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.info-cal p {
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 20px;
}

/*--------------------------------------------------------------*/
article.reservation {
    padding-top: 60px;
    width: 100%;
    height: 360px;
}

.reservation h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}

hr {
    width: 90%;
    margin: 0 auto;
    color: #ccc;
}

.rev-box {
    width: 60%;
    margin: 0 auto;
    background-color: #eee;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.rev-box a {
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.rev-box:hover {
    background-color: #333;
    border: 1.5px solid #eee;
    transition: all .3s;
}
.rev-box:hover a {
    color: #eee;
} 
/*--------------------------------------------------------------*/
article.event {
    padding-top: 60px;
}
.event h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}
.event-wrap li {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.event-wrap li img {
    width: 100%;
    display: block;;
}
.event-wrap li:hover a {
    display: inline-block;
    background: rgba(149, 110, 41);
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.event-wrap li:hover img{
    opacity: 0.3;
    transition: all .4s;
}
.event-wrpa li img {
    width: 100%;
}

.event-wrap li a {
    display: none;
}
/*---footer------------------------------------ */
footer {
    width: 100%;
}
.footer-wrap {
    margin-bottom: 60px;

}
.footer-nav {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 0.001px solid #ededed57;
}
.footer-nav a {
    display: block;
    float: left;
    width: 45%;
    font-size: 14px;
    color: #eee;
    line-height: 2;
    text-align: left;
    margin-bottom: 5px;
    /* outline: 3px solid lime; */
}
.footer-nav a:hover {
    text-decoration: underline;
}
.footer-wrap p {
    line-height: 2;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: left;
    margin-left: 25px;
}